

h1, h2, h3,h4 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    
}
p{
    font-family: 'Raleway', sans-serif;
    
}

li {
    list-style-type: none;
}

a {

    font-family: 'Raleway', sans-serif;
    text-decoration: none;

}

/* ----- HEADER ----- */

.home-header {
    background-image: url(../images/headerwave.jpg);
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    width: 100%;
}

/* NAVBAR */
.bar ul{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 60px;

}


.navtab:hover{
    
    transform: skewX(-10deg) translateX(40px);
    background-color: rgba(217, 255, 0, 1);
    transition: 0.5s;
    
}

.navtab a {

    
    color: #f7f3e3;
    font-size: 20px;
    margin-right: 100px;
    margin-top: 10px;
    
}

.navtab a:hover {
    color: #000000;
}
/* MAIN TITLE */

.main-titlep1 {

    
    display: flex;
    justify-content: center;
    font-size: 30px;
    z-index: 1;
    
}

.main-titlep1 h1{

    color: #f7f3e3;
    
}
.main-titlep2 {

    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
    font-style: italic;
    height: 100px;
    padding:10px 15px;
    transform: skewX(-10deg);
    background-color: rgba(217, 255, 0, 1);
    font-size: 40px;
    margin-left:6px;
    letter-spacing: -5px;
    z-index: 2;
}

/* ----- BODY ----- */

.home-body {

    background-image: url(../images/backgroundbody.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    color: #f7f3e3;
    
    
}
/* ----- BLOCK - QUISOMMESNOUS ----- */
.img-intro {
    
    margin: 10px 0;
    overflow:hidden;
    border-radius: 5%;
    width: 90%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    
}

.intro-txt {

    margin: 10px 15px;
    padding: 10px;
    box-shadow: 2px 2px 1px 1px #f7f3e3;
}

.intro-txt h2 {

    font-size: 50px;
    
}
/* ----- BLOCK - LES ACTUS ----- */
/* ----- HEADER ACTUS ----- */
.actu1-txt {

    margin: 10px 15px;
    padding: 10px;
    box-shadow: -2px -2px 1px 1px #f7f3e3
}
.actu-txt h2 {

    font-size: 50px;
}
.title-actu {
    display: flex;
    justify-content: center;
}


.title-actu h2 span {
    margin: 0 60px;
}
.speroom {

    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
    font-style: italic;
    height: 70px;
    padding:5px 5px;
    transform: skewX(-10deg);
    background-color: rgba(217, 255, 0, 1);
    font-size: 50px;
    margin-left:6px;
    letter-spacing: -5px;
    color: #000;
    width: 100px;
    
}

/* -----  ACTUS ARTICLE 1 ----- */

.actu1 h3 {

    font-size: 40px;
}

.actu1 p {

    padding: 0 10px;
}

.img-actu1 {

    margin: 10px 0;
    overflow:hidden;
    border-radius: 5%;
    width: 90%;
}

/* -----  ACTUS ARTICLE 2 ----- */

.actu2 h3 {

    font-size: 40px;

}

.actu2 p {

    padding: 0 10px;
}

.actu2-txt {

    margin: 10px 15px;
    padding: 10px;
    box-shadow: 2px 2px 1px 1px #f7f3e3
}
.img-actu2 {

    height: 300px;
    margin: 10px 0;
    overflow:hidden;
    border-radius: 5%;
    width: 90%;
}

/* ----- FOOTER ----- */

.home-footer {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fdf900 ;
    height: 40vh;
    

}
/* ----- FOOTER - RESEAUX ----- */
.reseaux {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: 900;
    
}

.reseaux:hover {

    transform: translateY(50px);
    transition: 1s;
}


.reseaux img {

    width: 40px;

    
}

.icon {

    display: flex;
    justify-content: center;
    width:100%;
    height: 50px;
    

}

.icon img {

    width: 40px;
    margin: 10px;

}


/* ----- FOOTER - PARTENAIRE ----- */

.partenaire {

    display: flex;
    animation-duration: 5s;

}

.partenaire div {

    display: flex;
    justify-content: center;
}

.partenaire img {

    width: 40%;
    height: 40px;
    margin-top: 20px;

}


/* ----- FOOTER - MENTION LEGALES ----- */

.footer-bottom {

    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;

}
.cupc {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 5px;
    font-weight: 900;
    
}

.cupc a {

    color: #000;
}


.copy{

    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 5px;
    font-weight: 900;
    
}



/* ----- NOS SERVICES ----- */

/* ----- CORPS DE PAGE ----- */
.contenu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
/* ----- ARCADE ----- */
.arcade {
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.arcade-img img {

    width: 90%;
    border-radius: 10px;
    margin-top:10px;
    
}

.arcade h3{

    font-size: 40px;

}

.arcade p{

    padding: 10px 10px;
    

}


/* ----- PC ----- */
.pc {
    margin-bottom: 100px;
    
}
.pc-img img {

    width: 90%;
    border-radius: 10px;
    margin-top:10px;
    
}

.pc h3{

    font-size: 40px;

}

.pc p{

    padding: 10px 10px;
    

}

/* ----- CONSOLE ----- */
.console {
    margin-bottom: 100px;
    margin-top: 50px;
}
.console-img img {

    width: 90%;
    border-radius: 10px;
    margin-top:10px;
    
}

.console h3{

    font-size: 40px;

}

.console p{

    padding: 10px 10px;
    

}

/* ----- BOARD GAME ----- */
.boardgame {
    margin-bottom: 100px;
    margin-top: 50px;
    
}

.bg-img img {

    width: 90%;
    border-radius: 10px;
    margin-top:10px;
    
}

.boardgame h3{

    font-size: 40px;

}

.boardgame p{

    padding: 10px 10px;
    

}

/* ----- RESERVER ----- */

.reservation {

    display: flex;
    flex-direction: column;
    width:100%;

}


.reservation h3{

    font-size: 20px;
    

}

.zone-resa {

letter-spacing: 15px;

}

.zone-resa::after {

    display: block;
    height: 2px;
    background-color: #f7f3e3;
    width:100px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;

    }

    .resaconsole {

        margin: 20px 10px;

    }
.entete-resa {

    padding: 10px;
    font-style: italic;
    font-size: 15px;

}

label {

    font-family: 'Raleway', sans-serif;

}

.tarif {

font-weight: bold;

}

button {

margin-top: 40px;
margin-bottom: 40px;
background-color:rgba(217, 255, 0, 0);
border-color: yellow;

}

button a{

    color: #f7f3e3;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
    padding: 10px 60px;
}


button:hover{
    
    
    transform: skew(10deg) translatex(-50px);
    background-color: rgba(217, 255, 0, 1);
    transition: 0.8s;
    
}

button a:hover {

    color: #000000;
    transform: skew(-10deg);
    background-color: rgba(217, 255, 0, 1);
    transition: 0.8s;

}
/* ----- RECAPITULATIF ----- */

.recap-resa h2 {

    font-size: 40px;

}


.list-recap{

    font-family: 'Raleway', sans-serif;
    margin-right: 50px;
    
}

button.modif:hover{

    
    transform: skew(-10deg) translateX(50px);
    background-color: rgba(217, 255, 0, 1);
    transition: 0.8s;

}

/* ----- CONFIRMATION DE RESERVATION ----- */

.confirmationresa {

    display: flex;
    flex-direction: column;
    padding: 10px;
}

.confirmationresa h2 {

    font-size: 50px;

}

.confirmationresa a {

    color: #fbff00;
    

}


/* ----- CONNEXION ESPACE MEMBRE ----- */

.formcreation::after {

    display: block;
    height: 2px;
    background-color: #f7f3e3;
    width:300px;
    content: "";
    margin: 0 auto;
    margin-top: 20px;

}
.compte {

    display: flex;
    flex-direction: column;
    

}

.oublimdp {

    font-style: italic;

}

.oublimdp a{

    font-style: italic;
    color: yellow;

}

/* ----- ESPACE MEMBRE ----- */

.membre-page {

    
    display: flex;
    flex-direction: column;
    

}

.side-bar-left ul {

    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    
    
}

.side-bar-left ul li{

    
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    padding: 0 5px;
    box-shadow: 1px 1px 1px 1px #f7f3e3;

}

.side-bar-left a{

    color: #f7f3e3;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-self:center;

}


.side-bar-left ul li a:hover{

color: #fac800;

}

.membre-page {

    display: flex;
    justify-content: space-evenly;

}

.accueil-membre img {

    width: 40%;
    opacity: 0.8;
    
}


/* ----- MEDIA QUERY ----- */


@media (min-width:540px) {

/* NAVBAR */

    .bar ul{

    display: flex;
    justify-content: space-around;
    
    }



    .navtab {
    
        font-size: 30px;
        margin-right: 100px;
        margin-top: 10px;
        
    }

    .navtab a {

        color: #f7f3e3;
        font-size: 30px;
        
        
    }
    .navtab a {

    
        color: #f7f3e3;
        font-size: 20px;
        margin-top: 10px;
        
    }

    /* MAIN TITLE */
    .main-titlep1 {

        display: flex;
        justify-content: center;
        font-size: 40px;
        z-index: 1;
        
    }
    
    .main-titlep2 {
    
    
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-bottom: 40px;
        font-style: italic;
        height: 100px;
        padding:10px 15px;
        transform: skewX(-10deg);
        background-color: rgba(217, 255, 0, 1);
        font-size: 60px;
        margin-left:6px;
        letter-spacing: -5px;
        z-index: 2;
        
    }


    .side-bar-left ul li:hover{
    
        transform: translateX(20px) scale(1.05);
        transition: 0.8s;
        box-shadow: 1px 1px 1px 1px #fac800;
}

    
}

@media (min-width:700px){

    /* ----- HEADER ACTUS  ----- */

    .img-intro {
        
        margin-left: 10px;
        width: 600px;
    }

    /* -----  ACTUS ARTICLE 1 ----- */

    .img-actu1 {

        width: 600px;
    }
    
    /* -----  ACTUS ARTICLE 2 ----- */

    .img-actu2 {

        width: 600px;
        height: 500px;
    }

/* ----- FOOTER - RESEAUX ----- */
.reseaux {

    
    font-size: 40px;
    
    
}

.icon img {

    width: 60px;
    

}

/* ----- NOS SERVICES ----- */

.arcade {


    background-color: #9601aa15;

}

.pc {

    background-color: #9601aa15;

}


.console {

    margin: 0 10px;
    background-color: #9601aa15;

}

.boardgame{

    
    background-color: #9601aa15;

}

/* ----- RESERVER ----- */

.reservation {

    display: flex;
    justify-content: center;
    

}

/* ----- FOOTER - PARTENAIRE ----- */

.partenaire {

    display: flex;
    animation-duration: 5s;
    margin-top: 40px;

}

.partenaire div {

    display: flex;
    justify-content: center;
}

.partenaire img {

    width: 30%;
    height: 50px;

}



}

    


@media (min-width:1000px) {
    /* NAVBAR */
    .navtab a {

        font-size: 30px;

    }

    /* ----- BLOCK - QUISOMMESNOUS ----- */

    .quisommesnous {
        display: flex;
        
    }

    .img-intro {
        
        margin-top: 60px;
        margin-left: 10px;
        width: 600px;
    }

    .intro-txt {
        padding: 0px 10px;
    }

    /* ----- BLOCK - LES ACTUS ----- */

    /* ----- HEADER ACTUS  ----- */

    .title-actu h2 {

    display: flex;
    

    }

    .title-actu h2 span.speroom {

        display: flex;
        justify-self: flex-start;
        
    }

    /* -----  ACTUS ARTICLE 1 ----- */

    .actu1 {

        display: flex;
    }
    .img-actu1 {

        margin: 10px 10px;
        overflow:hidden;
        border-radius: 5%;
        width: 600px;
    }

    /* -----  ACTUS ARTICLE 2 ----- */
    
    .actu2 {

        display: flex;
    }
    .img-actu2 {

        margin: 10px 10px;
        overflow:hidden;
        border-radius: 5%;
        width: 600px;
    }

/* ----- FOOTER - RESEAUX ----- */
.reseaux {

    
    font-size: 40px;
    
    
}

.reseaux img {

    width: 50px;

    
}

/* ----- FOOTER - PARTENAIRE ----- */

.partenaire {

    display: flex;
    animation-duration: 5s;
    margin-top: 40px;

}

.partenaire div {

    display: flex;
    justify-content: center;
}

.partenaire img {

    width: 30%;
    height: 80px;

}

/* ----- NOS SERVICES ----- */

/* ----- CORPS DE PAGE ----- */

.contenu {
    display: flex;
    
}
/* ----- ARCADE ----- */

.arcade {

    display: flex;
    margin: 10px 50px;
    box-shadow: 0px 0px 0px 2px #9601aa42;
    background-color: #9601aa27;
    
    

}

.arcade:hover{

    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
    
}

.arcade-img img {

    width: 450px;
    height: 250px;
    margin: 50px 10px;
    

}

.arcade h3{

    font-size: 40px;
    
}



/* ----- PC ----- */

.pc {

    display: flex;
    margin: 10px 50px;
    box-shadow: 0px 0px 0px 2px #9601aa42;
    background-color: #9601aa27;

}

.pc:hover{

    
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.pc-img img {

    width: 450px;
    margin: 50px 10px;
    
}

.pc h3{

    font-size: 40px;

}



/* ----- CONSOLE ----- */

.console {

    display: flex;
    margin: 10px 50px;
    box-shadow: 0px 0px 0px 2px #9601aa42;
    background-color: #9601aa27;

}

.console:hover{

    
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.console-img img {

    width: 450px;
    margin: 50px 10px;
    
}

.console h3{

    font-size: 40px;

}



/* ----- BOARD GAME ----- */
.boardgame{

    display: flex;
    margin: 10px 50px;
    box-shadow: 0px 0px 0px 2px #9601aa42;
    background-color: #9601aa27;

}

.boardgame:hover{

    
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.bg-img img {

    width: 450px;
    margin: 50px 10px;
    
}

.bg h3{

    font-size: 40px;

}

/* ----- CONNEXION ESPACE MEMBRE ----- */

.compte h2 {

    font-size: 50px;
    text-align: center;
    
}


.compte {

    display: flex;
    flex-direction: column;

}

.creation {

    display: flex;
    

}

.txt-creation {

    
    box-shadow: 1px -1px 0px 1px #f7f3e3;
    width:40% ;
    margin: 10px 60px;
    padding: 20px;
    

}

.txt-creation:hover{

    transform: scale(1.05);
    transition: 500ms;
    box-shadow: 1px -1px 0px 1px #a7aa01a2;
    background-color: #a7aa013b;
}

.formcreation::after {

    display: none;

}

.connexion {

    box-shadow: -1px -1px 0px 1px #f7f3e3;
    width:40% ;
    margin: 10px 60px;
    padding: 20px;

}

.connexion:hover{

    transform: scale(1.05);
    transition: 500ms;
    box-shadow: -1px -1px 0px 1px #a7aa01a2;
    background-color: #a7aa013b;
}


/* ----- ESPACE MEMBRE ----- */

.membre-page {

    display: flex;
    flex-direction: row;
    align-content:  center;
    

}


.side-bar-left ul {
    
    flex-direction: column;
    width: 100%;
}

.side-bar-left ul li {

    padding: 40px 100px;
    

}


.accueil-membre {

    margin: 10px 60px;
}

.accueil-membre img {

    width: 40%;
    opacity: 0.8;
    
}


}




@media (min-width:1200px) {

    /* ----- NOS SERVICES ----- */

.arcade {

    display: flex;
    margin: 100px 200px 20px 200px;
    box-shadow: 0px 0px 0px 2px #9601aaa2;
    background-color: #9601aa3b;

}

.arcade:hover{

    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.pc {

    display: flex;
    margin: 20px 200px 20px 200px;
    box-shadow: 0px 0px 0px 2px #9601aaa2;
    background-color: #9601aa3b;

}

.pc:hover{

    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.console {

    display: flex;
    margin: 20px 200px 20px 200px;
    box-shadow: 0px 0px 0px 2px #9601aaa2;
    background-color: #9601aa3b;

}

.console:hover{

    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}

.boardgame{

    display: flex;
    margin: 20px 200px 20px 200px;
    box-shadow: 0px 0px 0px 2px #9601aaa2;
    background-color: #9601aa3b;

}

.boardgame:hover{

    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 0px 0px 0px 2px #a7aa01a2;
    background-color: #a7aa013b;
}



}



@media (min-width:1420px) {

    /* ----- BLOCK - QUISOMMESNOUS ----- */

    .img-intro {
        
        margin-top: 40px;
        margin-left: 100px;
        width: 600px;
    }

    .intro-txt {
        margin-right: 100px;
    }
/* ----- BLOCK - LES ACTUS ----- */

.actu1-txt {
    margin-left: 100px;
}

    .img-actu1 {

        margin-right: 100px;
        
    }

    .actu2-txt {
        margin-left: 170px;
        margin-bottom: 50px;
    }

    .img-actu2 {

        margin-left: 100px;
        margin-bottom: 50px;
        
    }

/* ----- FOOTER - RESEAUX ----- */
.reseaux {

        font-size: 40px;
    
}

    
}